* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #000;
  color: white;
  font-family: "Segoe UI", sans-serif;
}
#carry-container{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pickup-container {
    
    height: 400px;
    width: 95%;
  
  margin-left: 45px;
  /* flex-direction: column; */
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: #2f2f2f;
  justify-content: center;
  flex-wrap: wrap;
  
}

.pickup-text {
  flex: 1 1 400px;
  padding: 1rem;
  text-align: center;
}

.pickup-text h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.pickup-text p {
  color: #ccc;
  line-height: 1.6;
}

.pickup-image {
  flex: 1 1 400px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 1rem;
  /* position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  z-index: 1;
  opacity: 0.9; */
  /* bottom: 500px;
   */
  /* margin-bottom: 00px; */
}

.pickup-image img {
  max-width: 85%;
  height:500px;
  /* border-radius: 10px; */
  

}
