.slider-container {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-left: 360px;
}

.main-img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 80px;
  height: 60px;
  /* margin-right: 40px; */
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail.active {
  border-color: #1e90ff;
}

.nav {
  position: absolute;
  top: 40%;
  font-size: 24px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav.prev {
  /* left: 80px; */
  right: 830px;
  /* padding-right: 60px; */
}

.nav.next {
  right: 10px;
}
